body.page-the-basics {
	.acf-form {
		.field {
			padding:15px 10px !important;
			min-height: 175px;
			&:before {
			    content: "";
			    display: block;
			    height: 1px;
			    width: 40%;
			    margin: 20px 0;
			    background: #eee;
			}
			p.label {
				width: 66.66666666666666%;
				float: left;
				position: relative;
				min-height: 1px;
				padding-right: 15px;
				padding-left: 3px;
			}
			ul.acf-radio-list {
				width: 33.33333333333333%;
				float:left;
				position: relative;
				min-height: 1px;
				padding-right: 15px;
				padding-left: 15px;
			}
			&.field_type-taxonomy {
				display:none;
			}
			label {
				text-align:left;
				font-size: 15px;
			}
			input[type="submit"] {
				color: #fff;
				background-color: #5cb85c;
				border-color: #4cae4c;
				display: inline-block;
			    margin-bottom: 0;
			    font-weight: normal;
			    text-align: center;
			    vertical-align: middle;
			    cursor: pointer;
			    background-image: none;
			    border: 1px solid transparent;
			    white-space: nowrap;
			    padding: 6px 12px;
			    font-size: 14px;
			    line-height: 1.42857;
			    border-radius: 4px;
			    -webkit-user-select: none;
			    -moz-user-select: none;
			    -ms-user-select: none;
			    user-select: none;
			    &:hover {
				    color: #fff;
					background-color: #449d44;
					border-color: #398439;
			    }
			}
		}
		select {
			display: block;
			width: 100%;
			height: 34px;
			padding: 6px 12px;
			font-size: 14px;
			line-height: 1.42857;
			color: #555;
			background-color: #FFF;
			background-image: none;
			border: 1px solid #CCC;
			border-radius: 4px;
			box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075)
		}

			
		
	}
	
      	@include screen(xs) {
	      	
	      	
			}	
}