// Used for e.g.: fonts
$DEVELOPMENT_MODE: true;

$screen-xxs-max: 480px !default;


$dis-bg: #2978b0;
$dis-main-color: #cb1517;
$dis-sub-color: #841917;
$dis-font-color: #34265d;
$dis-font-color2:#9d9d9d;

